<%%= form_for(@<%= singular_table_name %>, :html => {:class => "form-horizontal"}) do |f| %>

    <%%=error_messages_for(@<%= singular_table_name %>)%>
<div class="col-sm-7">
<% attributes.each do |attribute| -%>
    <div class="form-group form-group-lg">
      <label class="col-sm-2 control-label"><%%= f.label :<%= attribute.column_name %> %><font color="red">*</font></label>

      <div class="row col-sm-10">
        <%%= f.<%= attribute.field_type %> :<%= attribute.column_name %>, :class => "form-control no_space" %>
      </div>
    </div>
<% end -%>

    <div class="form-group">
      <label class="col-sm-2 control-label"></label>

      <div class="row col-sm-10">
        <input type='submit' class="btn btn-primary btn-lg" data-loading-text="处理中..." value="保存提交"/> 或
        <%%= link_to '返回', <%= plural_table_name %>_path %>
      </div>
    </div>

  </div>

<%% end %>